In [1]:
import pandas as pd
df = pd.read_csv('dataset_case_study.csv')

df['price_per_night']=df['price_euro']/(df['length_of_stay']+1)

df[['transaction_id','price_euro','length_of_stay','price_per_night']]

       transaction_id  price_euro  length_of_stay  price_per_night
0           922278674     3478.16               5       579.693333
1           819686771     2476.98              13       176.927143
2           755157875     2855.06              17       158.614444
3           601281336     3780.31              17       210.017222
4           152684295     2115.12              13       151.080000
...               ...         ...             ...              ...
79552       807601027     4016.44               2      1338.813333
79553       294578496     4082.72               1      2041.360000
79554       762036796     4060.72               0      4060.720000
79555       221272161     3190.92               3       797.730000
79556       752996119     4479.39               2      1493.130000

[79557 rows x 4 columns]

In [2]:
import numpy as np
df['creation_date'] = pd.to_datetime(df['creation_date'])
# Now calculate days since first creation
df['days_since_first'] = (df['creation_date'] - df['creation_date'].min()).dt.days
df.drop(columns='creation_date',inplace=True)

df['price_per_night']=df['price_euro']/(df['length_of_stay']+1)

df['credit_card_id_count'] = df.groupby('credit_card_id')['credit_card_id'].transform('count')
df['ip_id_count'] = df.groupby('ip_id')['ip_id'].transform('count')
df['email_id_count'] = df.groupby('email_id')['email_id'].transform('count')
df['hotel_id_count'] = df.groupby('hotel_id')['hotel_id'].transform('count')

lang_to_country = {
    'German': 'Germany',
    'Icelandic': 'Iceland', 
    'Slovak': 'Slovakia',
    'Spanish': 'Spain',
    'Norwegian': 'Norway',
    'Luxembourgish': 'Luxembourg',
    'Hungarian': 'Hungary',
    'Italian': 'Italy',
    'Danish': 'Denmark',
    'Swedish': 'Sweden',
    'French': 'France', 
    'Dutch': 'Netherlands',
    'Finnish': 'Finland',
    'Bulgarian': 'Bulgaria',
    'Maltese': 'Malta'}
df['language']=df['language'].map(lang_to_country)

df['language_flag1']=np.where(df['card_issuing_country']!=df['language'],1,0)
df['language_flag2']=np.where(df['card_issuing_country']!=df['booker_country'],1,0)
df['language_flag3']=np.where(df['language']!=df['booker_country'],1,0)

In [3]:
df[['transaction_id','card_issuing_country','language','language_flag1']]

       transaction_id card_issuing_country  language  language_flag1
0           922278674              Germany   Germany               0
1           819686771              Iceland   Iceland               0
2           755157875               Norway  Slovakia               1
3           601281336                Spain     Spain               0
4           152684295              Germany   Germany               0
...               ...                  ...       ...             ...
79552       807601027                Malta     Italy               1
79553       294578496                Malta     Italy               1
79554       762036796                Malta     Italy               1
79555       221272161                Malta     Italy               1
79556       752996119                Malta     Italy               1

[79557 rows x 4 columns]

In [10]:
df[['credit_card_id','card_issuing_country','language','auth_result','credit_card_id_count']].sort_values(by=["credit_card_id_count"],ascending=False).head(20)

,credit_card_id,card_issuing_country,language,auth_result,credit_card_id_count
77378,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77961,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
78422,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77180,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
78124,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
78048,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Sweden,REFUSED,412
77987,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
78418,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77536,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77186,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77866,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
78416,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77189,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77190,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
78414,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77192,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
78412,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
77714,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412
78411,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
77196,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,REFUSED,412

In [20]:
 df[['credit_card_id','transaction_id','days_since_first','auth_result','credit_card_id_count']].sort_values(by=["credit_card_id_count"],ascending=False).head(20)

,credit_card_id,transaction_id,days_since_first,auth_result,credit_card_id_count
77378,5e3a0db720f17bdf1a4ec149cdeab0e6,755215803,10,REFUSED,412
77961,5e3a0db720f17bdf1a4ec149cdeab0e6,606068615,10,REFUSED,412
78422,5e3a0db720f17bdf1a4ec149cdeab0e6,432254710,9,REFUSED,412
77180,5e3a0db720f17bdf1a4ec149cdeab0e6,602565752,9,AUTHORISED,412
78124,5e3a0db720f17bdf1a4ec149cdeab0e6,982820092,10,REFUSED,412
78048,5e3a0db720f17bdf1a4ec149cdeab0e6,140542727,9,REFUSED,412
77987,5e3a0db720f17bdf1a4ec149cdeab0e6,692372724,9,AUTHORISED,412
78418,5e3a0db720f17bdf1a4ec149cdeab0e6,745075293,10,REFUSED,412
77536,5e3a0db720f17bdf1a4ec149cdeab0e6,223752309,9,REFUSED,412
77186,5e3a0db720f17bdf1a4ec149cdeab0e6,778217924,9,REFUSED,412
77866,5e3a0db720f17bdf1a4ec149cdeab0e6,633261294,10,REFUSED,412
78416,5e3a0db720f17bdf1a4ec149cdeab0e6,262134043,10,REFUSED,412
77189,5e3a0db720f17bdf1a4ec149cdeab0e6,863910767,9,REFUSED,412
77190,5e3a0db720f17bdf1a4ec149cdeab0e6,228562351,9,AUTHORISED,412
78414,5e3a0db720f17bdf1a4ec149cdeab0e6,555542636,10,REFUSED,412
77192,5e3a0db720f17bdf1a4ec149cdeab0e6,984191971,10,AUTHORISED,412
78412,5e3a0db720f17bdf1a4ec149cdeab0e6,415895389,9,REFUSED,412
77714,5e3a0db720f17bdf1a4ec149cdeab0e6,405270490,10,REFUSED,412
78411,5e3a0db720f17bdf1a4ec149cdeab0e6,497911184,9,AUTHORISED,412
77196,5e3a0db720f17bdf1a4ec149cdeab0e6,172199164,9,REFUSED,412

In [19]:
df[['credit_card_id', 'card_issuing_country', 'language', 'auth_result', 'credit_card_id_count']].drop_duplicates('credit_card_id').sort_values('credit_card_id_count', ascending=False).head(20)

,credit_card_id,card_issuing_country,language,auth_result,credit_card_id_count
77180,5e3a0db720f17bdf1a4ec149cdeab0e6,Iceland,Denmark,AUTHORISED,412
77182,d493eb00e15c3cf9e633790abadd36a4,Iceland,Denmark,REFUSED,341
77179,7b9360795e691db76879519c67dcac90,Iceland,Denmark,REFUSED,300
77178,9e02d37357a99d0bc0ee070ddde4db0a,Iceland,Denmark,AUTHORISED,225
77177,93e15c64ed76791b041f4a077ea248d2,Iceland,Denmark,REFUSED,201
78656,06f83a58745990534a3b62ea833e265f,Germany,Germany,AUTHORISED,135
12,50ea5001691cd8b714f0155c7e396976,Luxembourg,Luxembourg,AUTHORISED,1
79525,322260c6d66a3be37384db663eb52a6d,Malta,Italy,AUTHORISED,1
28,fc58b5eaea5a26a4500d27853824df31,Denmark,Denmark,AUTHORISED,1
79541,a39a0ced20be541d2bf4a0782a5b11c5,Malta,Italy,AUTHORISED,1
79540,31f7f88ef9a93bcb0e36fb1719b23d58,Malta,Italy,FRAUD,1
13,ee439c15ec0c21476827ea02296e2a5f,Italy,Italy,AUTHORISED,1
79556,d853c0cff60c8d61f042fbcaaf1cf5c1,Malta,Italy,ERROR,1
4,95d0d8ec61b03bf7fd4250086313ab22,Germany,Germany,AUTHORISED,1
79542,07761da3eac46873c5a25d54292a8d95,Malta,Italy,AUTHORISED,1
79543,765f7bc496c35498cb50d0d152424043,Malta,Italy,ERROR,1
79544,b5a1c0b733de9824cc8723fab1b8053d,Malta,Italy,AUTHORISED,1
79545,5d48527616bb6dab5722f583c03a8df5,Malta,Italy,ERROR,1
79546,23791a9b109b23df077631875e4e9ded,Malta,Italy,AUTHORISED,1
79547,28b6d708c4b96915c74a53cf1e19f762,Malta,Italy,INSUFFICIENT_FUNDS_OR_LIMIT_EXCEEDED,1

In [16]:
df1=df[df['credit_card_id']=='5e3a0db720f17bdf1a4ec149cdeab0e6']

,transaction_id,ip_id,credit_card_id,booker_country,card_issuing_country,hotel_country,hotel_id,language,price_euro,book_window,...,payment_method,price_per_night,days_since_first,credit_card_id_count,ip_id_count,email_id_count,hotel_id_count,language_flag1,language_flag2,language_flag3
77180,602565752,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,98294,Denmark,3488.54,3,...,american express,697.708000,9,412,601,230,176,1,1,1
77186,778217924,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Germany,Iceland,Norway,70304,Denmark,2505.04,4,...,american express,2505.040000,9,412,601,127,295,1,1,1
77189,863910767,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,42442,Denmark,1513.53,3,...,american express,1513.530000,9,412,601,123,178,1,1,1
77190,228562351,933c900af847f49475eb6a9bcf70d735,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,42442,Denmark,1952.21,3,...,american express,278.887143,9,412,459,205,178,1,1,1
77192,984191971,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,70304,Denmark,3694.75,3,...,american express,615.791667,10,412,601,205,295,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78635,844708278,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,70304,Denmark,2434.48,4,...,american express,608.620000,10,412,601,123,295,1,1,1
78636,371952945,06a9ec59540dbae94271add0496cde52,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,98294,Denmark,2522.79,2,...,american express,420.465000,10,412,419,230,176,1,1,1
78637,148141609,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,70304,Spain,1831.31,4,...,american express,261.615714,9,412,601,166,295,1,1,0
78640,526067218,7065ee7d9882c44278879f4b4b154d03,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,70304,Malta,1344.46,4,...,american express,672.230000,9,412,601,170,295,1,1,1
78647,207844122,933c900af847f49475eb6a9bcf70d735,5e3a0db720f17bdf1a4ec149cdeab0e6,Spain,Iceland,Norway,43013,Denmark,4057.96,3,...,american express,676.326667,9,412,459,174,187,1,1,1

In [21]:
df.head()

,transaction_id,ip_id,credit_card_id,booker_country,card_issuing_country,hotel_country,hotel_id,language,price_euro,book_window,...,payment_method,price_per_night,days_since_first,credit_card_id_count,ip_id_count,email_id_count,hotel_id_count,language_flag1,language_flag2,language_flag3
0,922278674,e1fcad6672daa92bd6b5020fd954ff5a,0bb5ba2d7dd11cd0cf12f6db8fba25b0,Germany,Germany,Germany,90084,Germany,3478.16,89,...,mastercard,579.693333,6,1,1,1,3,0,0,0
1,819686771,5a71be20c6d46f2393be71d7199b607e,bb01aa67b20f28b8ce29e3a60d8ab276,Iceland,Iceland,Bulgaria,56417,Iceland,2476.98,30,...,visa,176.927143,21,1,1,1,1,0,0,0
2,755157875,c25608c42c31aeafa1d7ad8012906b3c,09f5288f5bdd02b54c38825d1c29f5c9,Norway,Norway,Norway,22278,Slovakia,2855.06,68,...,mastercard,158.614444,8,1,1,1,1,1,0,1
3,601281336,e782033ba3a8dd86edd4f798579a0f92,288c1c58f5255956d78e2e526f9a2910,Spain,Spain,Italy,44946,Spain,3780.31,11,...,visa,210.017222,16,1,1,1,1,0,0,0
4,152684295,3895fc0fecfd3d4f31d7d708fc592098,95d0d8ec61b03bf7fd4250086313ab22,Germany,Germany,Norway,91658,Germany,2115.12,64,...,paypal,151.080000,24,1,1,1,1,0,0,0